body{
    background-color: black;
}

/*Contato*/

.link {
    border: 2px solid rgb(109, 17, 19);
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    color: white;
    padding: 5px;
}

