body {
    background-color: black;
}

/*Header*/
.header {
    background-color: rgb(212, 82, 82);
    height: 6em;
}



/*Main*/
.img {
    width: 10em;
}
.title {
    color: red;
    margin: 20px 0;
}

/* Botões */
.nav {
    margin: 6em;
}
.nav-link {
    font-size: 1.5em;
    color: white;
}
.nav-link:hover {
    color: pink;
}
.nav-item {
    margin: 0 20px;
}
.btn-active {
    background-color: red;
    border-radius: 30px;
    padding: 10px 30px;
}




/*Footer*/
.footer {
    background-color: rgb(212, 82, 82);
    height: 3em;
}