body {
    background-color: black;
}

/*Header*/
.header {
    background-color: rgb(212, 82, 82);
    height: 6em;
}



/*Main*/
.img {
    width: 10em;
}
.title {
    color: red;
    margin: 20px 0;
}
.nav {
    margin: 6em;
}
.nav-item {
    margin: 0 30px;
}
.btn-active {
    background-color: red;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
}
.btn {
    border: 1px solid red;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
}



/*Footer*/
.footer {
    background-color: rgb(212, 82, 82);
    height: 3em;
}